<div [hidden]="operation === 'create' && field.isId" [formGroup]="form">

  <div [ngSwitch]="field.type">

    <div *ngSwitchCase="'string'" class="form-group">
      <label [htmlFor]="field.key">{{field.label}}</label>
      <input type="text" class="form-control" [formControlName]="field.key" [id]="field.key" [readonly]="operation == 'details' || field.isId">
    </div>

    <div *ngSwitchCase="'number'" class="form-group">
      <label [htmlFor]="field.key">{{field.label}}</label>
      <input type="number" class="form-control" [formControlName]="field.key" [id]="field.key" [readonly]="operation == 'details' || field.isId">
    </div>

     <div *ngIf="hasError()" class="alert alert-danger">
      {{field.label}} is required.
    </div> 

  </div>

</div>